rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }

    match /transactions/{txId} {
      allow read, write: if true;
    }

    match /announcements/{annId} {
      allow read, write: if true;
    }

    match /support/{msgId} {
      allow read, write: if true;
    }

    match /auditLogs/{logId} {
      allow read, write: if true;
    }

    match /rechargeAccounts/{accId} {
      allow read, write: if true;
    }

    match /systemConfig/{docId} {
      allow read, write: if true;
    }
  }
}
